.idea/**
images
face_dataset/*
/member_infographics/*
!/member_infographics/get-ufg-pic.py
selected_dataset
selected_count.txt
.vscode
face_dataset-2021-12-27/*
clustered_data-2021-12-27/*
drawn_box/*
face_encoding.bin
/face_dataset-2022-1-28/
train_dir/
/recognized_dir/
**.zip
**.7z
**.bz2
**.gz
